body {
    margin-top: 0em;
    background-color: #0bc4fd;
    ;
}

.box {
    padding: 0.5em;
    box-shadow: 4px 4px 30px 4px rgb(5, 1, 1);
    color: rgb(252, 251, 248);
}

.card-text {
    font-size: 0.5em;
    color: rgb(248, 247, 246)
}

.card {
    padding: 1px;
    background-color: #110b0b;
}

.chat {
    padding: 2px;
    align-items: center;
    color: rgb(250, 250, 249)
}

.line {
    border: 0.5px solid gray;
}